pipeline/pipeline2_copy4.json
{
	"name": "pipeline2_copy4",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "startdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nselect name  from sys.objects where type='U'\nand name not like '%result%'",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlTable2_param",
						"type": "DatasetReference",
						"parameters": {
							"dbname": {
								"value": "@pipeline().parameters.dbname",
								"type": "Expression"
							},
							"tablename": {
								"value": "@pipeline().parameters.tablename",
								"type": "Expression"
							},
							"schemaname": {
								"value": "@pipeline().parameters.schemaname",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('Select Count(1) as rc from dbo.',item().name)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_AzureSqlTable2_param",
									"type": "DatasetReference",
									"parameters": {
										"dbname": {
											"value": "@pipeline().parameters.dbname",
											"type": "Expression"
										},
										"tablename": {
											"value": "@pipeline().parameters.tablename",
											"type": "Expression"
										},
										"schemaname": {
											"value": "@pipeline().parameters.schemaname",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "usp_load",
								"storedProcedureParameters": {
									"counts": {
										"value": {
											"value": "@activity('Lookup2').output.firstRow.rc",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Tablename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"runid": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"runtime": {
										"value": {
											"value": "@variables('startdt')",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSqlDatabase2_param",
								"type": "LinkedServiceReference",
								"parameters": {
									"dbname": {
										"value": "@pipeline().parameters.dbname",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "startdate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "startdt",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"dbname": {
				"type": "string"
			},
			"schemaname": {
				"type": "string"
			},
			"tablename": {
				"type": "string"
			}
		},
		"variables": {
			"startdt": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-15T10:54:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}